# Eclipse
.settings/
.classpath
.project

# Netbeans
**/nbproject/private/
**/nbproject/Makefile-*.mk
**/nbproject/Package-*.bash
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr
out/**

**/build/
!src/**/build/
**/target/**
**/bin/**
**/*.war